/********font face******/
* {
    outline: none !important;
}

@font-face {
    font-family: 'Skippy';
    src: url('webfont.eot'); /* IE9 Compat Modes */
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('webfont.woff') format('woff'), /* Modern Browsers */ url('../font/skippy.ttf') format('truetype'), /* Safari, Android, iOS */ url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Skippy';
    line-height: 1.5;
    font-weight: lighter;
}

h1 {
    font-size: 78px;
}

h2 {
    font-size: 60px;
}

.fontSkippy {
    font-family: 'Skippy' !important;
    font-weight: lighter;
}

.fontLight {
    font-weight: lighter;
}

.helvetica {
    font-family: 'helvetica neue', 'helvetica', 'arial' !important;
}

.fontBold {
    font-weight: bold !important;
}

/********global********/
body {
    font-family: 'helvetica neue', 'helvetica', 'arial' !important;
    color: #00aef0;
    background: #00AEF0;
}

header, footer, section {
    background: #fff;
}

section.bgBlue {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2) inset;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

.bgBlue {
    background: #00aef0;
    color: #fff;
}

.bgWhite {
    background: #ffffff;
}

.bgGreen {
    background: #b6d200;
    color: #fff;

}

.square {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.noborder {
    border: 0px !important;
    -webkit-border: 0px !important;
    -moz-border: 0px !important;
}

.nopadding {
    padding: 0 !important;
}

.padding30-h {
    padding: 0 15px
}

.padding30-v {
    padding: 15px 0px
}

.btn-ambyt-green {
    background-color: #006dcc;
    color: #ffffff;
    background-image: -moz-linear-gradient(top, #b6d200, #aac400);
    background-image: -ms-linear-gradient(top, #b6d200, #aac400);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b6d200), to(#aac400));
    background-image: -webkit-linear-gradient(top, #b6d200, #aac400);
    background-image: -o-linear-gradient(top, #b6d200, #aac400);
    background-image: linear-gradient(top, #b6d200, #aac400);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#' b6d200, endColorstr='#' aac400, GradientType=0);
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.75) !important;
}

.btn-ambyt-green:hover,
.btn-ambyt-green:active,
.btn-ambyt-green.active,
.btn-ambyt-green.disabled,
.btn-ambyt-green[disabled] {
    background-color: #aac400;
    color: #fff;
}

/*******same height colomn********/
.col {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.col-wrap {
    overflow: hidden;
}

/*******header********/
#header {
    border-bottom: solid #00AEF0 10px;
}

#header .logo {
    padding-top: 30px;
}

#headerNav {
    margin: 0
}

#headerNav * {
    line-height: 60px;
}

#header .bgGreen {
    height: 60px !important;
}

#loginForm {
    padding-top: 20px;
    margin-bottom: 0;
}

#loginForm input {
    margin-bottom: 5px;
}

#loginForm a, #forgotPassword a {
    color: #fff;
}

/*******section Sepcial********/

#special * {
    z-index: 0 !important;
    text-align: center;
}

#how {
    z-index: 9999 !important;
    border-bottom: solid 10px #b6d200;
}

#special h3.slogan {
    font-weight: 100
}

#specialImage .imageHolder {
    position: relative;

    max-height: 178px;
    min-height: 50px;
    height: 150px;

}

#specialImage img {
    left: 0px;

}

#special .special1 {
    position: absolute;
    bottom: -10px;
}

#special .special2 {
    position: absolute;
    bottom: -15px;
}

#special .special3 {
    position: absolute;
    bottom: -10px;
}

/******Contact Us*******/
#contact {
    padding-top: 20px;
}

#questionText {
    padding: 30px;
}

/*******footer********/
footer {
    padding-top: 50px;
    background: #eee;
    color: #999;
}

footer p {
    font-size: 80%;
}

footer .footerLink {
    text-align: right;
    color: #999999 !important;
    font-size: 80%;
}

footer .social {
    color: #999999 !important;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

footer .social:hover {
    color: #00aef0 !important;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

/*#testimonial{background: url("bg-sequence.jpg")}*/
#testimonial {
    border-bottom: solid 10px #b6d200;
}

/*********Back to top*********/
#back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;

}

#back-top a {
    text-decoration: none;
    color: #b6d200;

}

#back-top a:after {
    content: " top";

}

#back-top a:hover {
    color: #00aef0;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;

}

h2 {
    font-size: 48px !important;
    line-height: 108px!important;
}

/*
 * Dashboard Swipe section CSS
 */

/* Swipe 2 required styles */

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}

.swipe-wrap {
    overflow: hidden;
    position: relative;
}

.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
}

.swipe .span1, .swipe .span2, .swipe .span3,
.swipe .span4, .swipe .span5, .swipe .span6,
.swipe .span7, .swipe .span8, .swipe .span9,
.swipe .span10, .swipe .span11 {
    padding: 10px;
}

.swipe .span12 {
    position: relative;
}

.swipe .sliderTitle {
    font-size: 50px;
    width: 40%;
    line-height: 0.8;
    position: absolute;
    left: 100%;
    top: 80px;
    opacity: 0;
}

.swipe .sliderText {
    position: absolute;
    width: 35%;
    bottom: -200px;
    left: 20px;
    opacity: 0;
}

.swipe .sliderText p {
    font-size: 14px;
    line-height: 1.5;
}

.swipe .sliderImage {
    float: right;
    opacity: 0.8;
}

/*animate in***/
.swipe .on .sliderTitle {
    left: 20px;
    opacity: 1;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.swipe .on .sliderText {
    bottom: 20px;
    opacity: 1;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.swipe .on .sliderImage {
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    transition-delay: 0.1s
}

/* END required styles */

/*slider CSS*/

.bullets {
    color: #00AEF0;
    display: block;
    overflow: hidden;
    height: 20px;
    line-height: 30px;
    left: 50%;
    margin-left: -75px;
    position: absolute;
    text-align: center;
    bottom: 8px;
    width: 150px;
    left: 50%;
}

.bullets em.on {
    color: #B6D200;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);*/
}

.bullets em {
    font-size: 30px;
    color: #00AEF0;
    display: inline-block;
    font-family: sans-serif;
    font-style: normal;
    padding: 0 3px;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);*/
}

/* Large desktop */
@media (min-width: 1200px) {
    h2 {
        font-size: 60px !important;
    }
}

@media (min-width: 980px) and (max-width: 1119px) {
    /***for the slider****/
    .swipe .span1, .swipe .span2, .swipe .span3,
    .swipe .span4, .swipe .span5, .swipe .span6,
    .swipe .span7, .swipe .span8, .swipe .span9,
    .swipe .span10, .swipe .span11 {
        padding: 5px;
    }

    .swipe .span12 {
        position: relative;
        overflow: hidden;
        height: 100%;
        min-height: 100%;
    }

    .swipe .sliderTitle {
        font-size: 30px;
        width: 30%;
    }

    .swipe .sliderText {
        position: absolute;
        display: block;
        width: 25%;
        bottom: -200px;
        left: 0px;
        opacity: 0;
    }

    .swipe .sliderText p {
        font-size: 14px;
        line-height: 1.5;
    }

    .swipe .sliderImage {
        float: right;
        opacity: 1;
    }

    /*animate in***/
    .swipe .on .sliderTitle {
        left: 10px;
        opacity: 1;
    }

    .swipe .on .sliderText {
        left: 10px;
        bottom: 25px;
        opacity: 1;
    }

}

/****IPAD portrait****/
@media (min-width: 768px) and (max-width: 979px) {
    body {
        padding: 0px;
        background: #00aef0;
    }

    h2 {
        font-size: 30px !important;
        line-height: 50px;
    }

    section, header, footer {
        padding: 0px;
    }

    section#how, section#special {
        padding: 0;
    }

    header .bgGreen {
        background: none;
    }

    header a {
        color: #fff;
    }

    /*form{display:none}*/
    header {
        background: #00aef0;
    }

    #special h1 {
        font-size: 50px !important;
    }

    .container {
        width: 100% !important;
    }

    #how .signUp {
        font-size: 30px !important;
        text-align: center;
    }

    #specialText {
        width: 100% !important;
    }

    #specialText * {
        text-align: left !important;
    }

    #specialText p {
        font-size: 14px !important;
    }

    #specialText h3 {
        font-size: 21px !important;
        line-height: 1.2;
    }

    #special .special1 {
        position: absolute;
        bottom: -5px;
    }

    #special .special2 {
        position: absolute;
        bottom: -10px;
    }

    #special .special3 {
        position: absolute;
        bottom: -5px;
    }

    #how .bgGreen {
        background: none;
    }

    #how .span8 {
        width: 100% !important
    }

    #who h3 {
        font-size: 18px;
        text-align: center;
    }

    #who p {
        font-size: 14px;
        text-align: center;
    }

    #who .whoFace {
        text-align: center;
    }

    #contact {
        border-top: solid 10px #b6d200;
        padding-top: 20px;
    }

}

/****IPAD Landscape****/
@media only screen and (max-width:767px) {
    body {
        padding: 0px;
        background: #00aef0;
    }

    h2 {
        font-size: 30px !important;
        line-height: 50px;
    }

    section, header, footer {
        padding: 0 20px;
    }

    section#how, section#special {
        padding: 0;
    }

    /*header*/
    #header .bgGreen {
        background: none;
    }

    header a {
        color: #fff;
    }

    header {
        background: #00aef0;
    }

    /*section special*/
    #special h1 {
        font-size: 50px !important;
    }

    #special .bgGreen {
        text-align: center;
    }

    #special img {
        margin: 0 auto;
    }

    #specialContainer {
        overflow: hidden;
    }

    #how .inline * {
        text-align: center
    }

    #how .bgGreen {
        background: none;
    }

    #how .signUp {
        font-size: 50px;
        text-align: center;
    }

    #who h3 {
        font-size: 18px;
        text-align: center;
    }

    #who .bgGreen {
        background: none;
        display: block;
    }

    #who .whoFace {
        text-align: center;
    }

    #contact {
        border-top: solid 10px #b6d200;
    }

    #contact .bgGreen {
        background: none;
    }

    /***for the slider****/
    .swipe .span1, .swipe .span2, .swipe .span3,
    .swipe .span4, .swipe .span5, .swipe .span6,
    .swipe .span7, .swipe .span8, .swipe .span9,
    .swipe .span10, .swipe .span11 {
        padding: 5px;
        overflow: hidden;
    }

    #how .swipe .span11 {
        text-align: center !important;
    }

    .swipe .span12 {
        position: relative;
        overflow: hidden;
        height: 100%;
        min-height: 100%;
    }

    .swipe .sliderTitle {
        font-size: 40px;
        width: 100%;
        line-height: 0.8;
        position: relative;
        opacity: 0;
        display: block;
        left: 0px;
        top: 0px;
        padding: 0px;
    }

    .swipe .sliderText {
        position: relative;
        width: 100%;
        display: block;
        opacity: 0;
        left: 0px;
        top: 0px;
        padding: 0px;
    }

    .swipe .sliderText p {
        font-size: 14px;
        line-height: 1.5;
    }

    .swipe .sliderImage {
        margin: 0 auto;
        opacity: 0;
        float: none;
    }

    /*animate in***/
    .swipe .on .sliderTitle {
        position: relative;
        opacity: 1;
        display: block;
        left: 0px;
        top: 0px;
        padding: 0px;
    }

    .swipe .on .sliderText {
        position: relative;
        bottom: 0px;
        opacity: 1;
        left: 0px;
        top: 0px;
        padding: 0px;
    }

}

/*******Iphone******/
@media only screen and (max-width: 480px) {
    body {
        padding: 0px;
        background: #00aef0;
    }

    h2 {
        font-size: 30px !important;
        line-height: 50px;
    }

    section, header, footer {
        padding: 0 5px;
    }

    section#how, section#special {
        padding: 0;
    }

    #header .bgGreen {
        background: none;
    }

    header a {
        color: #fff;
    }

    /*form{display:none}*/
    header {
        background: #00aef0;
    }

    #special h1 {
        font-size: 50px !important;
    }

    #special .bgGreen {
        text-align: center;
    }

    #special img {
        margin: 0 auto;
    }

    #specialContainer {
        overflow: hidden;
    }

    #how .bgGreen {
        background: none;
    }

    #how .signUp {
        font-size: 50px;
        text-align: center;
    }

    #who h3 {
        font-size: 18px;
        text-align: center;
    }

    #who .bgGreen {
        background: none;
        display: block;
    }

    #who .whoFace {
        text-align: center;
    }

    #contact {
        border-top: solid 10px #b6d200;
    }

    #contact .bgGreen {
        background: none;
    }

    /***for the slider****/
    .swipe .span1, .swipe .span2, .swipe .span3,
    .swipe .span4, .swipe .span5, .swipe .span6,
    .swipe .span7, .swipe .span8, .swipe .span9,
    .swipe .span10, .swipe .span11 {
        padding: 5px;
        overflow: hidden;
    }

    .swipe .span12 {
        position: relative;
        overflow: hidden;
        height: 100%;
        min-height: 100%;
    }

    .swipe .sliderTitle {
        font-size: 40px;
        width: 100%;
        line-height: 0.8;
        position: relative;
        opacity: 0;
        display: block;
        left: 0px;
        top: 0px;
        padding: 0px;
    }

    .swipe .sliderText {
        position: relative;
        width: 100%;
        display: block;
        opacity: 0;
        left: 0px;
        top: 0px;
        padding: 0px;
    }

    .swipe .sliderText p {
        font-size: 14px;
        line-height: 1.5;
    }

    .swipe .sliderImage {
        margon: auto 0;
        opacity: 0;
    }

    /*animate in***/
    .swipe .on .sliderTitle {
        position: relative;
        opacity: 1;
        display: block;
        left: 0px;
        top: 0px;
        padding: 0px;
    }

    .swipe .on .sliderText {
        position: relative;
        bottom: 0px;
        opacity: 1;
        left: 0px;
        top: 0px;
        padding: 0px;
    }

}

/*style for the contact submitting*/

#overlay {
    display: none;

    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top:150px;
    left: 0px;
}

#overlay ul {
    padding: 0;
    margin: 10px auto 0;
    list-style: none;
    text-align: center;
    display: block;
}

#overlay img {
    padding: 0;
    margin: 100px auto 0;
    list-style: none;
    text-align: center;
    display: block;
}

#overlay ul li {
    width: 10px;
    height: 10px;
    background-color: white;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    display: inline-block;
    border-radius: 0;
    margin: 0 4px;
    -webkit-animation: loading 2.5s infinite;
    -moz-animation: loading 2.5s infinite;
    -o-animation: loading 2.5s infinite;
    -ms-animation: loading 2.5s infinite;
    animation: loading 2.5s infinite;

    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    -moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    -o-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    -ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
    animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
}

#overlay ul li.li6 {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#overlay ul li.li5 {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    -o-animation-delay: 0.25s;
    -ms-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

#overlay ul li.li4 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#overlay ul li.li3 {
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

#overlay ul li.li2 {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
}

#overlay ul li.li1 {
    -webkit-animation-delay: 1.25s;
    -moz-animation-delay: 1.25s;
    -o-animation-delay: 1.25s;
    -ms-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: translateX(-30px);
        opacity: 0
    }
    25% {
        opacity: 1
    }
    50% {
        -webkit-transform: translateX(30px);
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes loading {
    0% {
        -moz-transform: translateX(-30px);
        opacity: 0
    }
    25% {
        opacity: 1
    }
    50% {
        -moz-transform: translateX(30px);
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-o-keyframes loading {
    0% {
        -o-transform: translateX(-30px);
        opacity: 0
    }
    25% {
        opacity: 1
    }
    50% {
        -o-transform: translateX(30px);
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-ms-keyframes loading {
    0% {-ms-transform: translateX(-30px); opacity: 0}
    25% {opacity: 1}
    50% {-ms-transform: translateX(30px); opacity: 0}
    100% {opacity: 0}
}

@keyframes loading {
    0% {
        -ms-transform: translateX(-30px);
        opacity: 0
    }
    25% {
        opacity: 1
    }
    50% {
        -ms-transform: translateX(30px);
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
